<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<nav class="nav">
  <a class="nav-link disabled" href="/">Shows</a>
  <a class="nav-link disabled" href="/add_show">Add Shows</a>
</nav>
<body>
  <div><h2> {{ name }} </h2></div>
  <div><h3><a href="/download_next/{{sid}}">Download Next Episode</a></h3></div>
  <div><h3><a href="/delete_show/{{sid}}">Delete</a>< /h3></div>
  <h3> Episodes </h3>
  <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Date</td>
          <td>Watched</td>
        </tr>
      </thead>
      <tbody>
      {% for row in eps %}
          <tr>
            <td><a href="/download_ep/{{ row[2] }}">{{ row[0] }}</a></td>
            <td>{{ row[1] }}</td>
            <td><a href="/watch_ep/{{ row[2] }}">{{ row[3] }}</a></td>
          </tr>
      {% endfor %}
    </tbody>
    </table>
  </body>
